:root {
    /* fonts */
    --main-font: 'Roboto', sans-serif;
    --secondery-font: 'Raleway', sans-serif;
  
    /* text color */
    --main-txt-cl: #212121;
    --second-txt-cl: #757575;
  
    /* bg color */
    --dark-bg-color: #2f303a;
  
    /* btn bg color */
    --btn-bg-color: #f5f4fa;
  
    /* focus hover color */
    --hover-txt-color: #2196f3;
  }