.footer {
    background-color: var(--dark-bg-color);
  }
  
  .footer__conteiner {
    padding-top: 60px;
    padding-bottom: 60px;

    display: flex;
    flex-direction: column;
    gap: 60px;
    text-align: center;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: baseline;
      text-align: left;

    }
    // align-items: baseline;
  }
  
  .footer__logo {
    margin-bottom: 20px;
    display: inline-block;
     }
  
   .footer__logo--acсent {
    color: #FFFFFF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
  
  .footer-item:not(:last-child) {
    margin-bottom: 9px;
  }
  
  
  .footer__info {
    font-style: normal;
  }
  
  .footer__addres {
    margin-bottom: 9px;
    font-size: 14px;
    line-height: calc(24 / 14);
    color: #ffffff;
  }

  // .footer__addres-conteiner {
  //   text-align: center;
  // }
  
  .footer__email {
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     
    &:hover,
    &:focus {
      color: var(--hover-txt-color);
    }
  }
  
  .footer__phone {
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
      color: var(--hover-txt-color);
  }
}
  
  .footer__logo:hover .footer__logo--acсent,
  .footer__logo:focus .footer__logo--acсent {
    color: var(--hover-txt-color);
  }
  
    
  .footer__socials-desc {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16px / 14px);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 10px;
  }