.nav {
   margin-right: auto;

  @media screen and (max-width: 767px) {
    display: none;
  }

  &__list {
    display: flex;
    gap: 50px;
  }

  &__item {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);
  }

  &__link {
    padding: 32px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.nav__link--current {
  color: var(--hover-txt-color);

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    top: 76px;

    background-color: #2196f3;
    border-radius: 2px;
  }
}
