.work {
    padding-bottom: 94px;
    display: none;

    @media screen and (min-width: 1200px) {
      display: block;      
    }
  }
  
  .work__list {
    display: flex;
    gap: 30px;
  }

  .work__thumb {
    position: relative;
  }
  
  .work__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 27px 82px;
    background-color: rgba(47, 48, 58, 0.8);
  }
  
  .work__txt {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: #ffffff;
  }