.contacts {
  display: flex;
  gap: 30px;
}

.contacts__icon {
  fill: var(--second-txt-cl);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon-item {
  display: flex;
  align-items: center;
  gap: 10px;

  color: var(--second-txt-cl);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__email:hover,
.contacts__email:focus,
.contacts__phone:hover,
.contacts__phone:focus {
  color: var(--hover-txt-color);
}

.contacts__email:hover .contacts__icon,
.contacts__email:focus .contacts__icon,
.contacts__phone:hover .contacts__icon,
.contacts__phone:focus .contacts__icon {
  fill: var(--hover-txt-color);
}
